<div class="moda-content modal-background" >
    <div class="modal-header">
        <h4 class="modal-title">Dodaj aktivnost</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                         <label class="form-label">Vrsta vježbe</label> <input
                             type="text" id="exerciseType" formControlName="exerciseType" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['exerciseType']?.errors}"
                             class="form-control" required>
                             <div class="invalid-feedback"> Popunite polje validnim podacima!</div>
                     </div>
                     <div class="form-group">
                         <label class="form-label">Trajanje</label> <textarea
                             type="number" id="duration" formControlName="duration"
                             class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['duration']?.errors}" required ></textarea>
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                               </div>
                     </div>
                     <div class="form-group">
                         <label class="form-label">Intezitet</label> <input
                             type="number" id="intensity" formControlName="intensity"
                             class="form-control"  [ngClass]="{'is-invalid':submitted && validationForm.controls?.['intensity']?.errors}" required/>
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                         </div>
                     <div class="form-group">
                         <label class="form-label">Datum</label> <input
                             type="date" id="date" formControlName="date"
                             class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['date']?.errors}" required
                             />
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                     </div>
                     <div class="form-group">
                        <label class="form-label">Broj kilograma</label> <input
                            type="number" id="kilograms" formControlName="kilograms"
                            class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['kilograms']?.errors}" required
                            />
                            <div class="invalid-feedback">
                                Popunite polje validnim podacima!
                               </div>
                    </div>
                         

                     <div class="form-group py-2 ">
                         <button type="submit" class="btn btn-primary" >Dodaj</button>
                     </div>
         </form>
         </div>
</div>

