
 <div class="modal-header">
    <h4 class="modal-title">Aktivacija naloga</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div
    class="card  text-white justify-content-center align-items-center cardLogIn"
    style="border-radius: 5px; width: 100%;">
    <div class="card-header justify-content-center align-items-center">
        <div class="justify-content-center align-items-center">
            <label> Aktivacija naloga</label>
        </div>
    
    </div>
    <div class="card-body py-1 text-center justify-content-center">
    
        <form [formGroup]="validationForm" class="formopacity" method="POST" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="form-label">Unesite aktivacioni kod</label> <input
                    type="text" id="activationCode" formControlName="activationCode"
                    [ngClass]="{'is-invalid':submitted && validationForm.controls?.['activationCode']?.errors}"
                    class="form-control" required />
                    <div class="invalid-feedback">
                        Popunite polje!
                      </div>
            </div>
        
            <div class="py-2">
                <input name="submit" id="submit"
                    class="btn btn-outline-light btn-lg" value="Aktiviraj nalog"
                    type="submit" />
            </div>
    
        </form>
    
    
     
    </div>
    </div> 

  </div>
 
