<!DOCTYPE html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<div class="gradient-custom d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="row ">
    
      
            <div class="cardLogIn card shadow-lg d-flex">
            <div class="card-header d-flex justify-content-center align-items-center" >Registracija naloga</div>
            <div class="card-body py-1 text-center justify-content-center " >
                <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                   <div class="form-group" >
                                <label class="form-label">Ime</label> <input
                                    type="text" id="firstName" formControlName="firstName" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['firstName']?.errors}"
                                    class="form-control" required>
                                    <div class="invalid-feedback"> Popunite polje validnim podacima!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Prezime</label> <input
                                    type="text" id="lastName" formControlName="lastName"
                                    class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['lastName']?.errors}" required />
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                      </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label> <input
                                    type="email" id="email" formControlName="email"
                                    class="form-control" placeholder="name@mail.com"  [ngClass]="{'is-invalid':submitted && validationForm.controls?.['email']?.errors}" required/>
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                       </div>
                                </div>
                            <div class="form-group">
                                <label class="form-label">Broj telefona</label> <input
                                    type="text" id="phoneNumber" formControlName="phoneNumber"
                                    class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['phoneNumber']?.errors}" required
                                    />
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                       </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Adresa</label> <input
                                    type="text" id="address" formControlName="address"
                                    class="form-control " [ngClass]="{'is-invalid':submitted && validationForm.controls?.['address']?.errors}" required />
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                       </div>
                                </div>
                            <div class="form-group">
                                <label class="form-label">Korisni&ccaron;ko ime</label> <input
                                    type="text" id="username" formControlName="username"
                                    class="form-control "  [ngClass]="{'is-invalid':submitted && validationForm.controls?.['username']?.errors}" required/>
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                       </div>
                                </div>
                            <div class="form-group">
                                <label class="form-label">Lozinka</label> <input
                                    type="password " id="password" formControlName="password"
                                    class="form-control password" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['password']?.errors}" required />
                                    <div class="invalid-feedback">
                                        Popunite polje validnim podacima!
                                       </div>
                                </div>
                            <div class="form-group py-2 ">
                                <button type="submit" class="btn" >Registrujte se</button>
                            </div>
                </form>
            </div>
            </div>
         
           
           
       
    </div>

</div>
