<html>
    <head>
        
    </head>
   <body >
    <div class="row-container">
        <app-side-menu></app-side-menu>
        <div class="home">
            
            <div class="row-container space-up"></div>
            <div class="row-container horizontal-line justify-content-center align-items-center d-flex">
               <label>Dnevnik aktivnosti</label>
            </div>
            <div class="content p-2">
                <div class="row-container justify-content-end d-flex align-items-center">
                   <button class="btn" (click)="addActivity()">Dodaj aktivnost</button>
                </div>
                <div class=" div-content p-2 px-2" >
               <table class="table table-bordered">
                <tr>
                    <th>Vrsta vjezbe</th>
                    <th>Trajanje(dan)</th>
                    <th>Intezitet</th>
                    <th>Datum zapisa</th>
                    <th>Broj kilograma</th>
                </tr>
                <tr *ngFor="let activity of activities">
                <td>{{activity.vrstaVjezbe}}</td>
                <td>{{activity.trajanje}}</td>
                <td>{{activity.intezitet}}</td>
                <td>{{activity.datumZapisa}}</td>
                    <td>{{activity.brKilograma}}</td>
            </tr>
    
                <tbody>
    
                </tbody>
               </table>
                  
                </div>
                <div class="row-container space-cards d-flex align-items-center">
                    <label class="label-edit"></label> 
                </div>
            
                <div class="div-content-chart px-2">
                    <canvas class="graphic" id="graph" aria-label="chart" ></canvas>
                  
                 
                </div>
    
            </div>
        </div>
    </div>
   </body>


</html>