.row-container {
    display: flex;
    flex-direction: row;
    
}
.home{
    background: linear-gradient(to right, rgb(129, 185, 223),
    rgb(153, 204, 255), white);
    width: calc(85vw - 0px);
}

.space-up {
    height: calc(5vh - 0px);
}
.horizontal-line {
    background-color: #004466;
    height: calc(10vh - 0px);
    color: white;
    font-size: 24px;
}
.div-content {
    overflow-x: hidden;
    position: relataive;
    overflow-y: auto;
    white-space: nowrap;
    border-radius: 10px;
    border-color: #004466;
    border-width: 2px;
    border-style: solid;
    height: calc(35vh - 0px);
    width: 100%;
    -webkit-overflow-scrolling: touch;
  
}
.div-content-chart{
    overflow-x: auto;
    position: relataive;
    overflow-y: auto;
    white-space: nowrap;
    border-radius: 10px;
    border-color: #004466;
    border-width: 2px;
    border-style: solid;
    height: calc(40vh - 0px);
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.graphic{
    height: calc(40vh - 0px);
    width: 100%;
}
::-webkit-scrollbar {
    height: 5px;
    opacity: 0.5;
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0.5;
    width: 8px;
    background-color: #004466;
    border-radius: 10px;

  }
.content {
    width: 100%;
}
.space-cards {
    height: calc(2vh - 0px);
}

.label-edit {
    color: #004466;
    font-size: 18px;
}
.btn {
	
	background-color: #004466;
    color: white;
}


.trclass:hover {
	background-color: #81b9df;
	color: white;
}

tr {
	font-size: 16px;
}

