.row-container {
    display: flex;
    flex-direction: row;
    
}
.home{
    background: linear-gradient(to right, rgb(129, 185, 223),
    rgb(153, 204, 255), white);
    width: calc(85vw - 0px);
}

.space-up {
    height: calc(5vh - 0px);
}
.horizontal-line {
    background-color: #004466;
    height: calc(10vh - 0px);
    color: white;
    font-size: 24px;
}

.form-group{
   padding: 0px;
    width: 100%;
  }

.btn {
	font-size: 24px;
	background-color:#004466;
    color: white;
}

.btn:hover {
	background-color: #81b9df;
}
.container {
    width: 100%;
    display: flex;
  }
  .form-control{
    padding: 0px;
    display: flex;
  }
  .forma{
    justify-content: center;
    display: flex;
  }
 .image-space{
  height: calc(10vh - 0px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 @media (max-width: 767px) {
  .form-control {
     width: 100%;
     height: 100%;
     padding: 0px;
   
  }
}
@media (max-width: 767px) {
  .form-group {
      width: 100%;
      height: 100%;
      padding: 0px;
   
  }
}
@media (max-width: 767px) {
  .form-label {
      width: 100%;
      height: 100%;
      padding: 0px;
   
  }
  
}
@media (max-width: 767px) {

  .input-group {
    width: 100%;
    height: 100%;
    padding: 0px;
 
}
}
@media (max-width: 767px) {

  .image-space{
    height: calc(6vh - 0px);
    
   }
}

@media (max-width: 767px) {

  .profile-img-class{
    height: 10px;
  }
}

.profile-img-class{
  border-radius: 100%;
  border-style: none;
  height: calc(10vh - 0px);
  width: calc(8vw - 0px);
}