<div class="row-container">
    <app-side-menu></app-side-menu>
    <div class="home">
        <div class="row-container space-up"></div>
        <div class="row-container horizontal-line justify-content-center align-items-center d-flex">
           <label>Pregled programa</label>
        </div>
        <div class="content p-2">

            <div class="div-buttons row-container d-flex  justify-content-space-between">
               
                
                <button class="btn-primary btn-class" (click)="participateInProgram()">
                    Učestvuj na programu</button>
                    <div class="row-container-messages ">
                        <button class="btn-primary btn-class mx-1" (click)="addComment()">
                            <img src="assets/addmessage.png" class="image-class-search">
                            <div class="text"> Dodaj komentar</div></button>
                            <button class="btn-primary btn-class" (click)="showProgramsMessages()">
                                <img src="assets/messages.png" class="image-class-search">
                               <div class="text">Pogledaj komentare</div> </button>
                    </div>
                    
               
            </div>
            <div class="container-fluid "  >
                <div class="row card-content" [ngStyle]="{'background-image' : 'url( ' + slika + ')' }" >
                    <div class="div-program-card">
                        <div class="div-title">{{program.nazivPrograma}}</div>
                        <div class="div-details"><b>Opis: </b>{{program.opis}}</div>
                        <div class="div-details-location"><b>{{program.uzivo?uzivo:online}}</b></div>
                        <div class="div-details"><b>Cijena: </b>{{program.cijena}} KM/mjesecno</div>
                        <div class="div-details"><b>Nivo težine: </b>{{program.nivoTezine}}</div>
                        <div class="div-details"><b>Trajanje: </b>{{program.trajanje}}</div>
                        <div class="div-details"><b>Lokacija odrzavnja: </b>{{program.lokacijaOdrzavanjaNazivLokacije}}</div>
                        <div class="div-details"><b>Kategorija: </b>{{program.kategorijaNazivKategorija}}</div>
                        <div class="div-details"><b>Opis kategorije: </b>{{program.kategorijaOpisKategorije}}</div>
                        <div class="div-details"><b>Instruktori: </b></div>   
                        <div class="div-details" *ngFor="let i of instruktori">
                            <div class="div-details px-3"><b>Ime i prezime: </b>{{i.ime}} {{i.prezime}}</div>
                            <div class="div-details px-3"><b>Email: </b>{{i.email}}</div>
                        </div> 
                        <div class="div-details" *ngIf="isOnline">
                            <iframe  [src]='  getUrl(program.video) '  width="320" height="240" controls allowfullscreen>
                                 
                            </iframe >
                        </div>
                    </div>
                    
                </div>
                
            </div>

        
        </div>
    </div>
</div>