.row-container {
    display: flex;
    flex-direction: row;
    
}
.home{
    background: linear-gradient(to right, rgb(129, 185, 223),
    rgb(153, 204, 255), white);
    width: calc(85vw - 0px);
}

.space-up {
    height: calc(5vh - 0px);
}
.horizontal-line {
    background-color: #004466;
    height: calc(10vh - 0px);
    color: white;
    font-size: 24px;
}
.div-content {
    overflow-x: auto;
    position: relataive;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 10px;
    border-color: #004466;
    border-width: 2px;
    border-style: solid;
    height: calc(35vh - 0px);
    width: 100%;
    -webkit-overflow-scrolling: touch;
  
}
::-webkit-scrollbar {
    height: 5px;
    opacity: 0.5;
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0.5;
    width: 8px;
    background-color: #004466;
    border-radius: 10px;

  }
.content {
    width: 100%;
}
.space-cards {
    height: calc(5vh - 0px);
}

.label-edit {
    color: #004466;
    font-size: 18px;
}
.news-card {
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-right: 5px;
    float: none;
    border-radius: 10px;
    background-color: #9adafa;
    height: 100%;
    /* position: relative; */
    display: inline-block;
    width: calc(13vw - 10px);
   
}
.news-card:hover {
    background-color: #afddf4;
}
.title-div {
    height: 40%;
    margin-top: 0px;
    font-weight: bold;
    color: #004466;
    white-space: pre-line; 
    
}
.description-div {
    height: 40%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #004466;
    white-space: pre-line; 
}
.button-details-div {
    float: right;
    margin-top: 5px;
    margin-bottom: 0px;
    justify-content: flex-end;
}
.button-details {
    border-radius: 10px;
    background-color: #004466;
    color: white;
    border-style: none;
}

.name-div {
    height: 20%;
    margin-top: 0px;
    font-weight: bold;
    color: #004466;
    white-space: pre-line; 
}
.muscle-div {
    height: 10%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #004466;
    white-space: pre-line; 
}
.instructions-div {
    height: 20%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #004466;
    white-space: pre-line; 
}
@media (max-width: 767px) {
    .news-card{
        width: 100%;
    }
}