<div class="row-container">
    <app-side-menu></app-side-menu>
    <div class="home">
     <div class="row-container space-up"></div>
     <div class="row-container horizontal-line justify-content-center align-items-center d-flex">
        <label>Početna</label>
     </div>
     <div class="content p-2">
        <div class="row-container space-cards d-flex align-items-center">
            <label class="label-edit">Najnovije vijesti iz svijeta fitnesa</label> 
        </div>
        <div class="row-container div-content p-2">
          
        </div>
        <div class="row-container space-cards d-flex align-items-center">
            <label class="label-edit">Dnevni prijedlog vježbi</label> 
        </div>
    
        <div class="row-container div-content p-2">
          
        </div>
     </div>
    </div>
</div>
