<div class="moda-content modal-background" >
    <div class="modal-header">
        <h4 class="modal-title">Kreiranje novog programa</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                         <label class="form-label">Naziv programa</label> <input
                             type="text" id="programName" formControlName="programName" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['programName']?.errors}"
                             class="form-control" required>
                             <div class="invalid-feedback"> Popunite polje validnim podacima!</div>
                     </div>
                     <div class="form-group">
                         <label class="form-label">Opis</label> <textarea
                             type="text" id="programDescription" formControlName="programDescription"
                             class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['programDescription']?.errors}" required ></textarea>
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                               </div>
                     </div>
                     <div class="form-group">
                         <label class="form-label">Cijena</label> <input
                             type="number" id="price" formControlName="price"
                             class="form-control"  [ngClass]="{'is-invalid':submitted && validationForm.controls?.['price']?.errors}" required/>
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                         </div>
                     <div class="form-group">
                         <label class="form-label">Nivo težine</label> <input
                             type="text" id="difficulty" formControlName="difficulty"
                             class="form-control" [ngClass]="{'is-invalid':submitted && validationForm.controls?.['difficulty']?.errors}" required
                             />
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                     </div>
                     <div class="form-group">
                         <label class="form-label">Trajanje</label> <input
                             type="number" id="duration" formControlName="duration"
                             class="form-control " [ngClass]="{'is-invalid':submitted && validationForm.controls?.['duration']?.errors}" required />
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                         </div>
                     <div class="form-group py-1">
                         
                         <div class="dropdown">
                            <label class="form-label px-1">Lokacija održavanja: </label>
                            <select id="location" #teams (change)="getSelectedLocation()"  class="select-class" >
                                <option *ngFor="let c of categories" >{{c.nazivKategorija}} : {{c.opisKategorije}}</option>
                            </select>
                          </div>
                             <div class="invalid-feedback">
                                 Popunite polje validnim podacima!
                                </div>
                         </div>
                         <div class="form-group py-1">
                         
                            <div class="dropdown">
                               <label class="form-label px-1">Kategorija programa: </label>
                               <select id="category" #teams (change)="getSelectedLocation()" class="select-class">
                                   <option *ngFor="let l of locations">{{l.nazivLokacije}}</option>
                               </select>
                             </div>
                                <div class="invalid-feedback">
                                    Popunite polje validnim podacima!
                                   </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="online" id="online" >
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Online
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="live" id="live" >
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Uživo
                                </label>
                              </div>
                              <div class="input-group d-flex align-items-center">
                                <label class="input px-1" for="inputGroupFile01">Dodajte sliku </label>
                                <input type="file" class="form-control" id="image">
                              </div>
                     <div class="form-group py-2 ">
                         <button type="submit" class="btn btn-primary" >Kreiraj program</button>
                     </div>
         </form>
         </div>
</div>

