<div class="d-flex side-menu">
    <nav class="navbar navbarclass d-flex justify-content-center">
        <div class=" space">
            
        </div>
        <div class="logo-div  d-flex justify-content-center pt-3">
            <img src="assets/logo.png" class="image-class">
        </div>
        <div class="fitness-app">
            <label>FitnessApp</label></div>
           
        <div class="container-navbar container-fluid">
            
          <a class="navbar-brand" (click)="clickHome()">
            
           Početna
          </a>
          <a class="navbar-brand " (click)="clickPrograms()">
            
           Programi
          </a>
          <a *ngIf="loggedIn" id="activityLog" [name]="activityLog" class="navbar-brand"  (click)="clickActivityJournal()">
     
            Dnevnik aktivnosti
          </a>
          <a *ngIf="loggedIn" class="navbar-brand" (click)="clickMessages()">
           
            Pošalji poruku
          </a>
          <a *ngIf="loggedIn" class="navbar-brand"  (click)="clickCategories()">
       
            Kategorije
          </a>
        </div>
        <div class="row space1">
               <div>

               </div> 
        </div>
        <div class="container-navbar container-fluid">
            
            <a class="navbar-brand justify-content-center align-items-center d-flex" *ngIf="loggedIn"  (click)="clickAccount()">
                <div class="logo-div  d-flex justify-content-center ">
                    <img src="assets/accountlogo.png" class="image-class-account">
                </div>
            </a>
            <a *ngIf="loggedIn" class="navbar-brand justify-content-center align-items-center" >
              <img src="assets/logout.png" height="20px" width="20px">
            Odjavi se
            </a></div>
       
        
      </nav>

</div>
   

