<div class="d-flex side-menu">
    <nav class="navbar navbarclass d-flex justify-content-center">
        <div class=" space">
            
        </div>
        <div class="logo-div  d-flex justify-content-center pt-3">
            <img src="assets/logo.png" class="image-class">
        </div>
        <div class="fitness-app">
            <label>FitnessApp</label></div>
           
        <div class="container-navbar container-fluid">
            
          <a class="navbar-brand justify-content-center align-items-center d-flex" (click)="clickHome()">
            <img  src="assets/home.png" height="30px" width="30px">
            <div class="a-content">Početna</div>
          </a>
          <a class="navbar-brand justify-content-center align-items-center d-flex" (click)="clickPrograms()">
            <img  src="assets/programs.png" height="30px" width="30px">
            <div class="a-content">Programi</div>
          </a>
          <a *ngIf="loggedIn" class="navbar-brand justify-content-center align-items-center d-flex"  (click)="clickMyPrograms()">
            <img  src="assets/gymmember.png" height="30px" width="30px">
            <div class="a-content">Moji programi</div>
          </a>
          <a *ngIf="loggedIn" id="activityLog" [name]="activityLog" class="navbar-brand justify-content-center align-items-center d-flex"  (click)="clickActivityJournal()">
            <img  src="assets/heartrate.png" height="30px" width="30px">
           <div class="a-content">Dnevnik aktivnosti</div> 
          </a>
          <a *ngIf="loggedIn" class="navbar-brand justify-content-center align-items-center d-flex" (click)="clickMessages()">
            <img  src="assets/messages.png" height="30px" width="30px">
            <div class="a-content"> Poruke</div>
          </a>
          <a *ngIf="loggedIn" class="navbar-brand justify-content-center  d-flex"  (click)="clickCategories()">
            <img  src="assets/gymmember.png" height="30px" width="30px">
            <div class="a-content"> Kategorije</div>
          </a>
        </div>
        <div class="row space1">
               <div>

               </div> 
        </div>
        <div class="container-navbar container-fluid">
            
            <a class="navbar-brand justify-content-center align-items-center d-flex" *ngIf="loggedIn"  (click)="clickAccount()">
                <div class="logo-div  d-flex justify-content-center ">
                    <img src="{{image}}" class="image-class-account">
                </div>
            </a>
            <a *ngIf="loggedIn" class="navbar-brand justify-content-center align-items-center d-flex" (click)="clickLogOut()">
              <img src="assets/logout.png" height="20px" width="20px">
              <div class="a-content"> Odjavi se</div>
            </a></div>
       
        
      </nav>

</div>
   

