<div class="d-flex side-menu">
    <nav class="navbar navbarclass d-flex justify-content-center">
        <div class=" space">
            
        </div>
        <div class="logo-div  d-flex justify-content-center pt-3">
            <img src="assets/logo.png" class="image-class">
        </div>
        <div class="fitness-app">
            <label>FitnessApp</label></div>
           
        <div class="container-navbar container-fluid">
            
          <a class="navbar-brand" href="#">
            
           Početna
          </a>
          <a class="navbar-brand " href="#">
            
           Programi
          </a>
          <a class="navbar-brand" href="#">
     
            Dnevnik aktivnosti
          </a>
          <a class="navbar-brand" href="#">
           
            Pošalji poruku
          </a>
          <a class="navbar-brand" href="#">
       
            Kategorije
          </a>
        </div>
        <div class="row space1">
               <div>

               </div> 
        </div>
        <div class="container-navbar container-fluid">
            
            <a class="navbar-brand justify-content-center align-items-center d-flex" href="#">
                <div class="logo-div  d-flex justify-content-center ">
                    <img src="assets/accountlogo.png" class="image-class-account">
                </div>
            </a>
            <a class="navbar-brand justify-content-center align-items-center" href="#">
              <img src="assets/logout.png" height="20px" width="20px">
            Odjavi se
            </a></div>
       
        
      </nav>

</div>
   

